@page "/Component"
<h3>Product Cart</h3>

 <ul>
      Name:  @Name.
     <br>
     <br>
     Category: Special.
      <br> <br>
       Price: 40.
 </ul>
@code {
      public string Name = "Reo";
}
