@page "/"

<PageTitle>Product Catalog</PageTitle>

<h1>Product List</h1>

<ul>
    

   <li>
    Name: Sprit  Category: Falf Liter  Price: 190
    </li>
    <li>
    Name: CocaCola  Category: Liter  Price: 170
    </li>
    <li>
    Name: Reo  Category: Bisket  Price: 40
    </li>
    <li>
    Name: Nesla  Category: Juice  Price: 70
    </li>
</ul>




<SurveyPrompt Title="what is your experience after viewing our product cart?" />
